[Unit]
Description=RPiNT Service
#After=network.target
After=redis-server.service
Conflicts=getty@tty1.service
Documentation=https://github.com/darton/rpint

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/usr/bin/python3 /home/pi/scripts/RPiNT/rpint.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
